@model ResyRoom.Models.Estudio
@{
    ViewBag.Title = "Configure";
}
<div class="content textoALaIzquierda">
    <div class="form textoALaIzquierda">
        <table class="tableForm textoALaIzquierda">
            <tr>
                <td>
                    <div class="textoALaIzquierda" style="width:100%;">
                    <h1>
                        Bienvenido</h1>
                    <div style="border-top: 1px solid gainsboro; margin-top: 5px;" />
                    @if (!Model.Salas.Any())
                    {
                        <label>
                            Para comenzar a usar <b>ResyRoom</b> primero debe ingresar información de vital importancía para hacerse
                            mostrar frente a los usuarios.</label>
                    }
                    else
                    {
                        <label>
                            Tiene salas dentro de su estudio que no han sido configuradas.</label>
                    }
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
