@model ResyRoom.ViewModels.BaseViewModel

<div class="div-cell top-in-search">
    <div class="sidebar-item">
        <h1>
            <img alt="Ver Estudio" src="../../Content/img/micsmall.png" title="Ver Estudio" />
            Top 5</h1>
        @foreach (var estudio in Model.EstudiosMasPopulares)
        {
            <a href="@Url.Action("Index", "User")">
                @estudio.Nombre </a>
            <br />
        }
    </div>
    <div class="sidebar-item">
        <h1>
            <img alt="Ver Estudio" src="../../Content/img/micsmall.png" title="Ver Estudio" />
            Mejor Evaluados</h1>
        @foreach (var estudio in Model.EstudiosMejorEvaluados)
        {
            <a href="@Url.Action("Index", "User")">
                @estudio.Nombre </a>
            <br />
        }
    </div>
</div>
