@using ResyRoom.Models
@model IEnumerable<Estudio>
@{
    Layout = null;
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "divGrillaResultados", defaultSort: "PrecioPorHoraDesde");
}
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="~/Content/Scripts/gmap3.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("[id^=imgVerEstudio]").mouseover(function () {
            var imagen = $("#" + this.id);
            imagen.attr("src", "../../Content/img/verEstudioOver.png");
            $(this).css('cursor', 'pointer');
        });
        $("[id^=imgVerEstudio]").mouseout(function () {
            var imagen = $("#" + this.id);
            imagen.attr("src", "../../Content/img/verEstudio.png");
        });

        $("[id^=imgVerMapa]").mouseover(function () {
            $(this).css('cursor', 'pointer');
        });

        $("#btnCerrarMapa").click(function () {
            $("#btnCerrarMapa").hide();
            $("#divMapa").hide("slow");
        });

        $("[id^=imgVerMapa], .spanVerMapa").click(function () {
            var img = $(this);
            
            if ($("#divMapa").length > 0) {
                var divMapa = $("#divMapa").parents("tr").prev()[0];
                $("#divMapa").parents("tr").remove();
                if (img.parents("tr")[0] != divMapa)
                    displayMap(img);
            }
            else 
                displayMap(img);
        });
        
        function displayMap(img) {
            if (!img.attr("alt")) {
                img = img.next("img");
            }
            
            $('<tr><td colspan="10" style="padding-left: 0"><div id="divMapa" style="width: 100%; height: 200px; border: 1px solid gainsboro;' +
                        'display: none"><div id="divContenedorMapa" style="width: 100%; height: 100%"></div></div></td></tr>').insertAfter(img.parents("tr"));

            $("#divMapa").show("slow", function () {
                $('#divContenedorMapa').gmap3({
                    clear: true,
                    map: { options: { maxZoom: 14 } },
                    marker: {
                        address: img.attr("alt"),
                        options: {
                            icon: new google.maps.MarkerImage("../../Content/img/map.png", new google.maps.Size(20, 20, "px", "px"))
                        }
                    }
                }, "autofit");
            });
        }
    });
</script>
<style>
    #btnCerrarMapa 
    {
        cursor: pointer;
    }

    .td-padding-top-11px {
        padding-top: 11px;
    }

    .grid-link a, .grid-link a:visited {
        color: #747474;
    }

    .grid-link a:hover, .spanVerMapa:hover {
        color: #000;
        cursor: pointer;
    }
</style>
<div id="divGrillaResultados">
    @grid.GetHtml("grillaResultados",
                  columns: grid.Columns(
                      grid.Column("Nombre", "Nombre", p => Html.ActionLink((string)p.Nombre, "ViewStudio", "Studio", new { id = p.IdEstudio }, null) , "columna20 td-padding-top-11px grid-link"),
                      grid.Column("Direccion", "Dirección", p => Html.Raw("<span class='spanVerMapa'>" + p.Direccion + ", " + p.Comuna.Descripcion + ", " + p.Comuna.Region.Descripcion + "</span> <img id='imgVerMapa" + p.IdEstudio + "' src=\"../../Content/img/map.png\" alt=' " + p.Direccion + ", " + p.Comuna.Descripcion + ", " + p.Comuna.Region.Descripcion + " ' />"), "columna60"),
                      grid.Column("PrecioPorHoraDesde", "Precio Desde", style: "columna10 td-padding-top-11px")
                      //grid.Column("vermas", "ver +", p => @Html.Raw("<img id='imgVerEstudio" + p.IdEstudio + "' src=\"../../Content/img/verEstudio.png\" alt='ver estudio...' />"), "columnVerMas", canSort: false)
                      )
         )
</div>
