@using ResyRoom.Models
@model IEnumerable<Estudio>
@{
    Layout = null;
    var grid = new WebGrid(Model, ajaxUpdateContainerId: "divGrillaResultados", defaultSort: "PrecioPorHoraDesde");
}

<div id="divGrillaResultados">
    @grid.GetHtml("grillaResultados",
                          columns: grid.Columns(
                          grid.Column("Nombre", "Nombre", style: "columna20"),
                          grid.Column("Direccion", "Dirección", p => p.Direccion + ", " + p.Comuna.Descripcion + ", " + p.Comuna.Region.Descripcion, "columna60"),
                           grid.Column("PrecioPorHoraDesde", "Precio Desde", style: "columna10"),
                           grid.Column("vermas", "ver +", p => @Html.Raw("<img id='imgVerEstudio" + p.IdEstudio + "' src=\"../../Content/img/verEstudio.png\" alt='ver estudio...' />"), "columnVerMas", canSort: false)
                        )
                      )
</div>
