p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* Estilos para controles basicos ------ */

.txt
{
    font-size: 1em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    height: 15px;
    margin: 3px 0px;
    border: 1px solid #808080;
}
textarea
{
    font-size: 1em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
}
select
{
    font-size: 1em;
    height: 21px;
}

a:link, a:visited
{
    color: #AE332F;
    text-decoration: none;
}
.login-div a:link, .login-div a:visited
{
    color: #747474;
    text-decoration: underline;
}
a:hover
{
    color: #532a2a;
}
a:active
{
    color: #034af3;
}

/* HEADINGS   ----------------------------------------------------------*/
h1, h2
{
    font-size: 1.5em;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
    height: 30px;
}

h1
{
    font-size: 1.6em;
    padding: 0px;
    margin: 7px 0px 0px;
}
h2
{
    font-size: 1.5em;
    font-weight: 600;
    color: #AE332F;
}
h3
{
    font-variant: small-caps;
    font-weight: 100;
    margin-top: 0;
    font-size: 4.6em;
    margin-bottom: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.boton
{
    font-size: 11px;
    padding: 4px 10px;
    color: gray;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dedede));
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    border: 1px solid gainsboro;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.botonOk
{
    background: url(../Content/img/headphones.png) no-repeat 20px 8px;
    text-indent: 30px;
    width: 100%;
    height: 52px;
    box-shadow: rgba(0, 0, 0, 0.13125) 0px 1px 3px 0px;
}

.boton:hover
{
    border: 1px solid #bcbcbc;
    cursor: pointer;
}

.botonGrande
{
    margin-right: 0;
    font-size: 16px;
    padding: 12px 20px;
    color: #fff;
    background-color: #8D8D8D;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    border: none;
    border-radius: 3px;
}

.botonMedio
{
    margin-right: 0;
    font-size: 13px;
    padding: 10px 17px;
    color: #fff;
    background-color: #42B8DD;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    border: none;
    border-radius: 3px;
}

.botonGrande:hover,
.botonMedio:hover
{
    cursor: pointer;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}