select
{
    color: gray;
    padding: 5px;
    height: 26px;
    border: 1px #bbb solid;
    border-radius: 2px;
}
.combobox
{
    height: 22px;
    overflow: hidden;
    background: url(../../Content/img/ddl.png) no-repeat right white;
    border: 1px solid #ddd;
    border-radius: 3px; /* CSS3 */
}
