select
{
    color: gray;
    background-color: transparent;
    border: none;
    padding: 5px;
    height: 22px;
    width: 100%;
    -webkit-appearance: none;
}
.combobox
{
    height: 22px;
    overflow: hidden;
    background: url(../../Content/img/ddl.png) no-repeat right white;
    border: 1px solid #ddd;
    border-radius: 3px; /* CSS3 */
}
