/* Estilos para formularios */

.form { padding: 50px 50px 50px; }
.form .tableForm { margin-left: auto; margin-right: auto; padding: 50px; background-color: white; border: 1px solid gainsboro; border-top-left-radius: 5px;  border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.tableForm .form-header { width: 350px; border-bottom: 1px solid lightgray; padding-bottom: 10px; margin-bottom: 15px; }
.tableForm .left-label { width: 155px; display: inline-block; text-align: right; padding-right: 20px; }

.form table thead th { height: 50px; vertical-align: top; margin-bottom: 30px; text-align: left; }
.form table tr td { text-align: right !important; padding-right: 20px; }
.rightLogo { padding: 40px 0 0 0; }

.content { width: 100%; text-align: left; border-top: 1px #eee solid;  border-bottom: 1px #eee solid; background: url('../../Content/img/bglogo.png') repeat; }