/* Estilos para formularios */

.form { padding: 50px 50px 50px; }
.form .register-studio-form {
    margin: 0 auto; 
    padding: 50px 50px 40px; 
    background-color: white; 
    border: 1px solid gainsboro; 
    border-radius: 5px;
    width: 700px;  
}

.form .register-studio-form .number-step
{
    background: #A1B1A4;
    border-radius: 0.8em;
    width: 1.4em;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    color: white;
}

.form .register-studio-form .subtitle
{
    padding-left: 95px;
}

.form .register-studio-form .input-form
{
    margin-top: 25px;
}

.form .register-studio-form .input-form .register-studio-room
{
    border-top: 1px dashed gainsboro;
    margin-top: 10px;
    padding-top: 15px;
}

.form .register-studio-form .input-form > div .register-studio-room.first-child
{
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

.form .register-studio-form .form-row
{
    padding: 8px 0;
}

.form .register-studio-form .form-row.new-room
{
    margin-top: 10px; 
    width: 100%; 
    border-top: 1px dashed gainsboro; 
    padding-top: 15px;
}

.form .register-studio-form .form-row.new-room .add-icon
{
    background-color: #A1B1A4; 
    color: white; 
    border-radius: 6px; 
    width: 13px; 
    display: inline-block; 
    text-align: center; 
    height: 14px; 
    margin-right: 10px;
}

.form .register-studio-form .label
{
    width: 200px;
    text-align: right;
}

.form .register-studio-form .value
{
    padding-left: 15px;
    position: relative;
}

.form .register-studio-form .value .input-validation-error
{
    border: 1px solid #D99898;
}

.form .register-studio-form .value .field-info-description
{
    position: absolute;
    top: 3px;
    left: 170px;
    width: 290px;
    background-color: #E7FDEB;
    color: #8D8D8D;
    padding: 5px 20px;
    border-left: 3px solid #808080;
}

.form .register-studio-form .value .field-validation-error
{
    position: absolute;
    top: 3px;
    left: 170px;
    width: 290px;
    background-color: #D99898;
    color: white;
    padding: 5px 20px;
    border-left: 3px solid #808080;
}

.form .register-studio-form .next-button
{
    margin-right: 15px;
    margin-top: 20px;
    text-align: right;
    width: 100%;
}

.form .register-studio-form .next-button div:first-child
{
    text-align: left;
}

.form .register-studio-form .next-button div:last-child
{
    text-align: right;
}

.register-studio-form .form-header { width: 350px; border-bottom: 1px solid lightgray; padding-bottom: 10px; margin-bottom: 15px; }
.register-studio-form .left-label { width: 155px; display: inline-block; text-align: right; padding-right: 20px; }

.form table thead th { height: 50px; vertical-align: top; margin-bottom: 30px; text-align: left; }
.form table tr td { text-align: right !important; padding-right: 20px; }
.rightLogo { padding: 40px 0 0 0; }

.content { width: 100%; text-align: left; border-top: 1px #eee solid;  border-bottom: 1px #eee solid; background: url('../../Content/img/bglogo.png') repeat; }