/* Menú Encabezado   ----------------------------------------------------------*/
.HeaderMenu {
    background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#fff));
    padding:0px 10px;
    height: 35px;
}

ul.menu { padding: 0px; float: left; }
ul.menu li 
{
    display: inline;
    background-color: #fff; font-size: .95em; padding: 10px 20px 5px;
    font-family: tahoma; margin: 0px 3px; border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.098125) 0px 1px 3px 0px;
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
ul.menu li a { color: #696969; }
ul.menu li img { margin-right: 10px; }
ul.menu li:hover { color: black; box-shadow: rgba(0, 0, 0, 0.30125) 0px 1px 3px 0px; }
ul.menu li:active { color: black; text-decoration: none; }

ul li { line-height: 20px; }