html
{
    height: 100%;
}
body
{
    font-size: .70em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
    height: 93%;
}
header, footer, nav, section
{
    display: block;
}

/* this rule styles <h1> and <h2> tags that are the first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}

.divInicio
{
    height: 100%;
    position: relative;
}
.tblInicio
{
    top: 6%;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    position: absolute;
    z-index: 1;
    height: 70%;
    background: url('../../Content/img/bglogo.png') repeat;
}

.invisible
{
    display: none;
}
.right
{
    float: right;
}
.clear
{
    clear: both;
}
.left
{
    float: left;
}
.redondo5px
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.redondo5pxAbajo
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.textoALaIzquierda
{
    text-align: left !important;
}
.page
{
    margin: 0px auto;
    height: 100%;
}
.header
{
    position: relative;
    margin: 0px;
}
.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}
.footer
{
    position: absolute;
    bottom: 0;
    height: 10px;
    background-color: gray;
    width: 100%;
}

.mensaje
{
    margin: 70px 0px;
    padding: 20px 50px 0px;
    width: 100%;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    background-color: white;
    height: 105px;
}

.mensaje h2
{
    font-size: 1.5em;
}

.ranking tr td
{
    padding: 0px 40px;
}

.ranking table
{
    margin-left: auto;
    margin-right: auto;
}

.ranking ul
{
    list-style: none;
}

.ranking ul li a
{
    color: gray;
}

.ranking ul li a:hover
{
    text-decoration: underline;
}

.textboxform
{
    box-shadow: rgba(255, 255, 255, 0.0898488) 0px 1px 0px 0px;
    border: 1px #bbb solid;
    -moz-border-radius: 2px; /* Firefox */
    -webkit-border-radius: 2px; /* Safari, Chrome */
    border-radius: 2px; /* CSS3 */
    height: 22px;
}

.buttonset {
    display: inline;
    font-size: 1.1em !Important;
}