html
{
    height: 100%;
}
body
{
    font-size: .70em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #747474;
    height: 93%;
}
header, footer, nav, section
{
    display: block;
}

/* this rule styles <h1> and <h2> tags that are the first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

.div-inicio
{
    overflow: hidden;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    height: 85%;
    background: url('../../Content/img/bglogo.png') repeat;
    width: 100%;
}

.big-logo-index {
    float: left;
    height: 100%;
}

.big-logo-index img {
    vertical-align: middle;
}

.search-index-box .search-for {
    margin-top: 5px;
}

.search-index-box .search-for input {
    width: 100%;
}

.search-index-box {
    width: 650px;
    float: right;
    height: 100%;
    display: table;
    padding-right: 35px;
}

.search-index-box form {
    display: table-cell;
    vertical-align: middle;
}

.search-location {
    margin-top: 10px;
    display: table;
    width: 100%;
}

.search-location div {
    display: table-cell;
}

.search-location label {
    width: 60px;
}

.search-location div {
    margin-right: 30px;
}

.search-location .not-first-inline {
    padding-left: 30px;
}

.search-price-range {
    margin-top: 15px;
    width: 100%;
}

.search-price-range div {
    display: inline-block;
    width: 300px;
}

.search-price-range .search-label-price-range {
    padding-right: 20px;
}

.search-price-range .search-prefix-price-range {
    padding-left: 20px;
}

.search-button input {
    margin-top: 25px;
}

.search-button input {
    float: right;
}

.invisible
{
    display: none;
}
.right
{
    float: right;
}
.clear
{
    clear: both;
}
.left
{
    float: left;
}
.redondo5px
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.redondo5pxAbajo
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.textoALaIzquierda
{
    text-align: left !important;
}
.page
{
    margin: 0 auto;
    height: 85%;
}
.page-header {
    overflow: hidden;
}
.header
{
    position: relative;
    margin: 0;
}
.leftCol
{
    padding: 6px 0;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}
.footer
{
    position: absolute;
    bottom: 0;
    height: 10px;
    background-color: gray;
    width: 100%;
}

.mensaje
{
    margin: 70px 0px;
    padding: 20px 50px 0px;
    width: 100%;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    background-color: white;
    height: 105px;
}

.mensaje h2
{
    font-size: 1.5em;
}

.centered {
    margin: 0 auto;
}

.ranking
{
    border-spacing: 30px 0;
    padding-top: 15px;
}

.ranking ul
{
    list-style: none;
}

.ranking ul li a
{
    color: gray;
}

.ranking ul li a:hover
{
    text-decoration: underline;
}

.textboxform
{
    box-shadow: rgba(255, 255, 255, 0.0898488) 0px 1px 0px 0px;
    border: 1px #bbb solid;
    -moz-border-radius: 2px; /* Firefox */
    -webkit-border-radius: 2px; /* Safari, Chrome */
    border-radius: 2px; /* CSS3 */
    height: 22px;
}

.buttonset
{
    display: inline;
    font-size: 1.1em !important;
}

.checked
{
    background: url(../../Content/img/checked.png) no-repeat left transparent;
}

.unchecked
{
    background: url(../../Content/img/unchecked.png) no-repeat left transparent;
}

.checkedmini
{
    background: url(../../Content/img/checkedmini.png) no-repeat left transparent;
}

.uncheckedmini
{
    background: url(../../Content/img/uncheckedmini.png) no-repeat left transparent;
}

.div-table-centered {
    display: table;
    margin: 0 auto;
}

.div-table {
    display: table;
}

.div-cell {
    display: table-cell;
}

.login-div {
    float: right; 
    padding-right: 35px; 
    padding-bottom: 5px;
}

.login-div .email-cell {
    padding-right: 15px;
}

.login-div .password-cell {
    padding-left: 10px; padding-right: 15px;
}

.login-div .remember-cell {
    padding-left: 10px;
}

.login-div .remember-cell input,
.login-div .remember-cell label {
    vertical-align: middle;
}

.register-user-div {
    padding-bottom: 40px;    
}

.facebook-login {
    vertical-align: bottom;
    width: 230px;
    padding-left: 300px;
}

.facebook-login .facebook-button-login {
    text-align: right;
}

.facebook-login .facebook-header {
     border-bottom: 1px solid lightgray; 
     padding-bottom: 10px; 
     margin-bottom: 15px;
}

