html
{
    height: 100%;
}
body
{
    font-size: .70em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #747474;
    height: 93%;
}
header, footer, nav, section
{
    display: block;
}

/* this rule styles <h1> and <h2> tags that are the first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

.div-inicio
{
    overflow: hidden;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    height: 85%;
    background: url('../../Content/img/bglogo.png') repeat;
    width: 100%;
}

.big-logo-index {
    float: left;
    height: 100%;
}

.big-logo-index img {
    vertical-align: middle;
}

.search-index-box .search-for {
    margin-top: 5px;
}

.search-index-box .search-for input {
    width: 100%;
}

.search-index-box {
    width: 650px;
    float: right;
    height: 100%;
    display: table;
    padding-right: 35px;
}

.search-index-box form {
    display: table-cell;
    vertical-align: middle;
}

.search-location {
    margin-top: 10px;
    display: table;
    width: 100%;
}

.search-location div {
    display: table-cell;
}

.search-location label {
    width: 60px;
}

.search-location div {
    margin-right: 30px;
}

.search-location .first-inline {
    padding-right: 30px;
}

.search-location .not-first-inline {
    padding: 0 30px 0 40px;
}

.search-price-range {
    margin-top: 15px;
    width: 100%;
}

.search-price-range div {
    display: inline-block;
    width: 300px;
}

.search-price-range .search-label-price-range {
    padding-right: 20px;
}

.search-price-range .search-prefix-price-range {
    padding-left: 20px;
}

.search-button input {
    margin-top: 25px;
}

.search-button input {
    float: right;
}

.invisible
{
    display: none;
}
.right
{
    float: right;
}
.clear
{
    clear: both;
}
.left
{
    float: left;
}
.redondo5px
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.redondo5pxAbajo
{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.textoALaIzquierda
{
    text-align: left !important;
}
.page
{
    margin: 0 auto;
    height: 85%;
}
.page-header {
    overflow: hidden;
}
.header
{
    position: relative;
    margin: 0;
}
.leftCol
{
    padding: 6px 0;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}
.footer
{
    position: absolute;
    bottom: 0;
    height: 10px;
    background-color: gray;
    width: 100%;
}

.mensaje
{
    margin: 70px 0px;
    padding: 20px 50px 0px;
    width: 100%;
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    background-color: white;
    height: 105px;
}

.mensaje h2
{
    font-size: 1.5em;
}

.centered {
    margin: 0 auto;
}

.ranking
{
    border-spacing: 30px 0;
    padding-top: 15px;
}

.ranking ul
{
    list-style: none;
}

.ranking ul li a
{
    color: gray;
}

.ranking ul li a:hover
{
    text-decoration: underline;
}

.textboxform
{
    box-shadow: rgba(255, 255, 255, 0.0898488) 0px 1px 0px 0px;
    border: 1px #bbb solid;
    -moz-border-radius: 2px; /* Firefox */
    -webkit-border-radius: 2px; /* Safari, Chrome */
    border-radius: 2px; /* CSS3 */
    height: 22px;
}

.buttonset
{
    display: inline;
    font-size: 1.1em !important;
}

.checked
{
    background: url(../../Content/img/checked.png) no-repeat left transparent;
}

.unchecked
{
    background: url(../../Content/img/unchecked.png) no-repeat left transparent;
}

.checkedmini
{
    background: url(../../Content/img/checkedmini.png) no-repeat left transparent;
}

.uncheckedmini
{
    background: url(../../Content/img/uncheckedmini.png) no-repeat left transparent;
}

.div-table-centered {
    display: table;
    margin: 0 auto;
}

.div-table {
    display: table;
}

.div-cell {
    display: table-cell;
}

.login-div {
    float: right; 
    padding-right: 35px; 
    padding-bottom: 5px;
}

.login-div .email-cell {
    padding-right: 15px;
}

.login-div .password-cell {
    padding-left: 10px; padding-right: 15px;
}

.login-div .remember-cell {
    padding-left: 10px;
}

.login-div .remember-cell input,
.login-div .remember-cell label {
    vertical-align: middle;
}

.register-user-div {
    padding-bottom: 40px;    
}

.register-user-div .register-user-row {
    padding-bottom: 5px;    
}

.register-user-div .register-user-continue {
    text-align: right;
    padding-top: 15px;
}

.facebook-login {
    vertical-align: bottom;
    width: 230px;
    padding-left: 300px;
}

.facebook-login .facebook-button-login {
    text-align: right;
}

.facebook-login .facebook-header {
     border-bottom: 1px solid lightgray; 
     padding-bottom: 10px; 
     margin-bottom: 15px;
}

.facebook-status {
    padding-top: 5px;
}

.error-box {
    background-color: #FFC0C0; 
    padding: 10px 0 10px 30px; 
    margin-bottom: 22px; 
    border-radius: 4px;
}

.error-box .error-box-content {
    vertical-align: middle; 
    display: table-cell; 
    height: 50px; 
    color: #853535; 
    line-height: 22px;
}

.error-box .error-box-content .img-icon {
    float: left;
}

.error-box .error-box-content .div-message {
    padding-left: 8px;
}

.error-box .error-box-content .div-message .span-message {
    white-space: pre-wrap;
}

.close-error-box {
    float: right;
    margin-right: 10px;
    border: 1px solid #835555;
    width: 16px;
    display: table-cell;
    text-align: center;
    height: 16px;
    color: #470A0A;
    border-radius: 2px;
}

.close-error-box:hover
{
    border: 1px solid #5C4A4A;
    cursor: pointer;
}

.facebook-avatar {
    width: 32px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    display: table-cell;
    margin-right: 8px;
}

.login-div.facebook-login-div {
    margin-top: -10px;
    display: table;
}

.login-div.facebook-login-div .facebook-login-links
{
    vertical-align: bottom;
    display: table-cell;
}

.login-div .separator-link {
    padding: 0 10px;
}

.login-div a {
    text-decoration: underline;
    color: #747474;
}

.login-div a:hover {
    text-decoration: underline;
    color: #747474;
}

.studio-search-page {
    width: 100%;
}

.top-in-search {
    padding: 0 25px;
    border-right: 1px solid gainsboro;
    width: 170px;
}

.search-form {
    padding: 0 50px 30px 50px;
}

.subtitle {
    height: 30px;
}

.search-form .search-item
{
    height: 35px;
}

.search-form .search-item .first-label
{
    width: 170px;
}

.search-form .search-item .second-label {
    padding: 0 30px 0 45px;
}

.checkbox-list {
    padding-right: 30px;
}

.search-form .search-item.expandable-button {
    border-top: 1px dashed gainsboro;
    padding-top: 12px;
    height: 25px;
}

.search-form .search-buttom {
    text-align: right;
}

.studio-profile-title {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.studio-general-info .cover-studio-picture {
    height: 250px;
    overflow: hidden;
    background: url(https://scontent-a.xx.fbcdn.net/hphotos-xap1/t31.0-8/s720x720/857892_10151351275914585_1879377988_o.jpg);
    background-repeat: no-repeat;
    background-position: 0 center;
}

.studio-general-info .general-profile-info {
    padding-top: 20px;
}

h4 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    color: #141414;
    padding-bottom: 10px;
    margin: 0;
}

.studio-general-info .general-profile-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.studio-general-info .general-profile-info li {
    font-size: 14px;
    border-bottom: 1px dashed #ccc;
    padding: 4px 0;
    float: left;
    width: 50%
}

.studio-general-info .general-profile-info li:last-child {
  border: none;
}

.studio-profile-title .studio-profile-tabs {
    float: right; margin-top: -19px; padding-right: 15px;
}

.studio-profile-title .studio-profile-tabs ul
{
    list-style: none;
}

.studio-profile-title .studio-profile-tabs ul li
{
    float: left; 
    margin-right: 10px; 
    padding: 5px 15px; 
    border-top: 1px solid gainsboro; 
    border-left: 1px solid gainsboro; 
    border-right: 1px solid gainsboro; 
    border-bottom: 1px solid white; 
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}

.studio-profile-title .studio-profile-tabs ul li:hover {
    cursor: pointer;
    border-top-color: #AE332F;
    border-left-color: #AE332F;
    border-right-color: #AE332F;
    color: #AE332F;
    box-shadow: 0 -1px 2px #E9A8A6;
}

.studio-profile-title .studio-profile-tabs ul li.tab-selected {
    border-top-color: gray;
    border-left-color: gray;
    border-right-color: gray;
    color: #4D4D4D;
    box-shadow: 0 -1px 2px #CFCFCF;
}

.studio-profile-title .studio-profile-tabs ul li:last-child {
    margin-right: 0;
}

.studio-rooms {
    padding-top: 20px;
}

.studio-rooms .studio-room-container {
    width: 100%;
    margin-bottom: 30px;
}

.studio-rooms .studio-room-container:last-child
{
    margin-bottom: 0;
}

.studio-rooms .studio-info-room {
    border: 2px dashed gainsboro;
    border-radius: 5px;
    padding: 20px;
    width: 60%;
    background: url('../../Content/img/bglogo.png') repeat;
}

.studio-rooms .studio-info-room .room-name,
.studio-rooms .studio-room-recording .room-name {
    font-size: 14px;
    font-weight: bold;
}

.studio-rooms h4 {
    padding-top: 10px;
}

.studio-rooms .studio-info-room:last-child
{
    margin-bottom: 0;
}

.studio-rooms .studio-info-room ul,
.studio-rooms .studio-room-recording ul {
    list-style: none;
    padding-left: 25px;
    border-top: 1px solid gainsboro;
}

.studio-rooms .studio-info-room ul li:first-child,
.studio-rooms .studio-room-recording ul li:first-child
{
    padding-top: 10px;
}

.studio-rooms .studio-info-room ul li,
.studio-rooms .studio-room-recording ul li {
    border-left: 1px solid gainsboro;
    font-size: 12px;
    padding: 2px 0 2px 15px;
}

.studio-rooms .studio-info-room ul li .span-label,
.studio-rooms .studio-room-recording ul li .span-label
{
    width: 100px;
    display: table-cell;
}

.studio-rooms .studio-info-room ul li .span-value,
.studio-rooms .studio-room-recording ul li .span-value
{
    display: table-cell;
}

.studio-rooms .studio-room-recording
{
    border-top: 2px dashed gainsboro;
    border-right: 2px dashed gainsboro;
    border-bottom: 2px dashed gainsboro;
    padding: 20px;
    position: relative;
    background-color: lightyellow;
}

.studio-rooms .studio-info-room .room-price,
.studio-rooms .studio-room-recording .recording-price,
.studio-equipment .equipment-boxes .additional-price
{
    text-align: right;
    font-size: 14px;
}

.studio-rooms .studio-info-room .room-price span,
.studio-rooms .studio-room-recording .recording-price span,
.studio-equipment .equipment-boxes .additional-price span
{
    color: #42B8DD;
    font-size: 22px;
    padding-left: 10px;
}

.studio-booking .booking .inner-div .booking-price
{
    color: #42B8DD;
    font-size: 22px;
}

.studio-booking .booking .inner-div .booking-notice
{
    font-size: 16px;
    color: #2F2F2F;
}

.studio-rooms .studio-room-recording .recording-price
{
    position: absolute;
    bottom: 20px;
}

.studio-equipment .equipment-menu,
.studio-booking .booking-menu {
    display: table;
    width: 125px;
    margin-right: 25px;
    padding-top: 10px;
    vertical-align: top;
}

.studio-booking .booking-menu {
    padding-top: 52px;
}

.studio-equipment .equipment-menu ul.list-menu,
.studio-booking .booking-menu ul.list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.studio-equipment .equipment-menu ul.list-menu li,
.studio-booking .booking-menu ul.list-menu li {
    padding: 5px 0 5px 10px;
    margin: 7px 0;
    font-size: 12px;
    background-color: #ECECEC;
    border-left: 10px solid grey;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
}

.studio-equipment .equipment-menu ul.list-menu li:hover,
.studio-booking .booking-menu ul.list-menu li:hover
{
    cursor: pointer;
}

.studio-equipment .equipment-menu ul.list-menu li.room-selected,
.studio-booking .booking-menu ul.list-menu li.room-selected
{
    color: #42B8DD;
}

.studio-equipment .inner-equipment {
    vertical-align: top;
}

.studio-equipment .equipment-boxes {
    overflow: auto;
    white-space: nowrap;
    width: 800px;
    -webkit-transform: translateZ(0);
} 

.studio-equipment .equipment-boxes .equipment-box {
    display: inline-block;
    padding: 25px;
    border: 1px dashed gainsboro;
    margin: 16px 20px 20px 0;
    white-space: normal;
    width: 200px;
    vertical-align: top;
    height: 300px;
    -webkit-transform: translateZ(0);
}

.studio-equipment .equipment-boxes .equipment-box .equipment-name
{
    font-size: 14px;
    font-weight: bold;
}

.studio-equipment .equipment-boxes .equipment-box .equipment-picture
{
    margin-top: 20px;
    height: 230px;
}

.studio-booking .booking-content
{
    width: 100%;
    vertical-align: top;
}

.studio-booking .booking-content .booking-form
{
    vertical-align: top;
    width: 100%;
}

.studio-booking .booking-content > div
{
    width: 100%;
}

.studio-booking .calendar {
    padding-top: 20px;
    vertical-align: top;
    width: 480px;
}

.studio-booking .calendar .fc-view {
    overflow: visible;
}

.studio-booking .calendar .fc-state-default {
    background-color: #fff;
    background-image: none;
}

.studio-booking .calendar .fc-state-down, 
.studio-booking .calendar .fc-state-active {
    background-color: #42B8DD !Important;
    text-shadow: none;
    color: #fff;
}

.studio-booking .calendar .fc-day:hover {
    cursor: pointer;
}

.studio-booking .calendar .fc-button {
    padding: 0.2em 0.6em;
}

.studio-booking .calendar .fc-border-separate th {
    padding: 10px 0;
}

.studio-booking .calendar .fc-state-highlight {
    background-color: transparent;
}

.studio-booking .calendar .fc-border-separate .fc-day-header.fc-mon.fc-widget-header.fc-first,
.studio-booking .calendar .fc-border-separate thead .fc-agenda-axis.fc-widget-header.fc-first {
    border-top-left-radius: 5px;
}

.studio-booking .calendar .fc-border-separate th.fc-last {
    border-top-right-radius: 5px;
}

.studio-booking .calendar .fc-border-separate .fc-day.fc-mon.fc-widget-content.fc-other-month.fc-future.fc-first,
.studio-booking .calendar .fc-agenda-days tbody .fc-agenda-axis.fc-widget-header.fc-first,
.studio-booking .calendar .fc-agenda-slots tr:last-child .fc-agenda-axis.fc-widget-header,
.studio-booking .calendar .fc-week.fc-last .fc-day.fc-mon.fc-widget-content {
    border-bottom-left-radius: 5px;
}

.studio-booking .calendar .fc-border-separate tr.fc-week.fc-last .fc-last,
.studio-booking .calendar .fc-agenda-days tbody .fc-col6.fc-sun.fc-widget-content.fc-future.fc-last,
.studio-booking .calendar .fc-view-agendaDay .fc-col0.fc-tue.fc-widget-content.fc-state-highlight.fc-today.fc-last,
.studio-booking .calendar .fc-view-agendaDay .fc-col0.fc-sat.fc-widget-content.fc-future.fc-last,
.studio-booking .calendar .fc-view.fc-view-agendaDay.fc-agenda,
.studio-booking .calendar .fc-col0.fc-widget-content.fc-last,
.studio-booking .calendar .fc-agenda-slots tr:last-child td {
    border-bottom-right-radius: 5px;
}

.studio-booking .calendar .fc-agenda-slots .fc-agenda-axis.fc-widget-header {
    height: 24px;
}

.studio-booking .calendar .fc-inactive {
    background-color: #EFEFEF;
}

.studio-booking .calendar .fc-past-day {
    background-color: #FAFAFA;
}

.studio-booking .calendar .fc-agenda-slots .fc-inactive
{
    font-size: 10px;
}

.studio-booking .calendar .fc-inactive:hover
{
    cursor: default;
}

.studio-booking .calendar .fc-day-content {
    text-align: center;
}

.studio-booking .calendar .fc-day-content > div
{
    height: auto !Important;
    padding-top: 10px;
    padding-bottom: 20px;
}

.studio-booking .calendar .fc-agenda-slots td div {
    height: auto;
    padding-left: 10px;
}

.studio-booking .calendar .fc-event-vert {
    border-radius: 0;
}

.studio-booking .calendar .fc-view-agendaWeek .fc-event-title {
    text-align: center;
}

.studio-booking .calendar .fc-view-agendaDay .fc-event-title {
    padding-left: 10px;
}

.studio-booking .booking {
    padding: 59px 0 0 25px;
    font-size: 12px;
}

.studio-booking .booking .inner-div {
    background-color: #EFEFEF; 
    border-radius: 5px; 
    padding: 20px;
    border: 2px dotted #D1D1D1;
}

.studio-booking .booking .inner-div .booking-label
{
    width: 70px;
    display: table-cell;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 10px;
}

.studio-booking .booking .inner-div .booking-value
{
    display: table-cell;
}

.studio-booking .booking .inner-div .book-hour {
    text-align: right;
}

.studio-booking .booking .inner-div .booking-price-label {
    height: 37px;
    vertical-align: middle;
}

.successful-booking-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    opacity: 0.65;  
    z-index: 2;
    display: none;
}

.successful-booking {
    width: 100%;
    position: fixed;
    background-color: #6FD9E7;
    top: 37%;
    z-index: 200;
    display: none;
}

.successful-booking .successful-booking-container {
    margin: 0 auto;
    width: 821px;
    height: 60px;
    padding: 20px 0 55px;
}

.successful-booking .successful-booking-container h3
{
    font-variant: normal;
}

.successful-booking .successful-booking-container span
{
    padding-left: 20px;
}

.successful-booking .close-message
{
    position: absolute;
    right: 15px;
    top: 10px;
    color: #444;
    text-decoration: underline;
}