/* Estilos para validaciones -------------------------------*/
.field-validation-error {
    display: block;
    color: crimson;
}

.input-validation-error {
    background-color: lightyellow;
}

.validation-summary-errors li {
    list-style: none;
    color: crimson;
}