@using ResyRoom.Infraestructura.Extensiones
@model ResyRoom.ViewModels.RegisterStudio.RoomEquipmentViewModel

<div class="register-studio-equipment">
    <div class="div-table form-row display-equipment">
        <div class="div-cell" style="width: 30%">
            @Html.DisplayFor(u => u.Nombre, new { @class = "txt", data_bind = "value: Equipos()[" + @Model.Indice + "].Nombre" })
        </div>
        <div class="div-cell" style="width: 40%">
            @if (Model.TieneUnPrecioAdicional)
            {
                <span>Precio adicional: @Model.PrecioAdicional</span>
            }
            else
            {
                <span>Sin precio adicional</span>
            }
        </div>
        <div class="equipment-actions">
            <ul>
                <li>
                    editar
                </li>
                <li>
                    eliminar
                </li>
            </ul>
        </div>
    </div>
</div>
