@using ResyRoom.Infraestructura.Extensiones
@model ResyRoom.ViewModels.RegisterStudio.IRegisterStudioViewModel
<div>
    <h3>
        <span class="number-step">@Model.PasoNumero</span>Equipamiento
    </h3>
    <span class="subtitle">Puedes ingresar la información de los equipos en cada sala..</span>
    <div class="input-form">
        @foreach (var sala in Model.Estudio.Salas.Select((value, i) => new { i, value }))
        {
            <div class="room-name @(sala.i == 0 ? "first-child" : "")">
                @sala.value.Nombre
            </div>
            @Html.Partial("Partial/_RegisterStudioEditEquipmentInfo", sala.value.Equipo)
        }
        <div class="div-table next-button">
            <div class="div-cell">
                <input type="button" value="Anterior" class="botonGrande">
            </div>
            <div class="div-cell">
                <input type="button" value="Siguiente" class="botonGrande">
            </div>
        </div>
    </div>
</div>
